<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jackson Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={{ url_for("static", filename="img/favicon.png") }} rel="icon">
  <link href={{ url_for("static", filename="img/apple-touch-icon.png") }} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i") }} rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }} rel="stylesheet">
  <link href={{ url_for("static", filename="vendor/bootstrap-icons/bootstrap-icons.css") }} rel="stylesheet">
  <link href={{ url_for("static", filename="vendor/boxicons/css/boxicons.min.css") }} rel="stylesheet">
  <link href={{ url_for("static", filename="vendor/glightbox/css/glightbox.min.css") }} rel="stylesheet">
  <link href={{ url_for("static", filename="vendor/swiper/swiper-bundle.min.css") }} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={{ url_for("static", filename="css/style.css") }} rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src={{ url_for("static", filename="img/logo.png") }} alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">Logout</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('edit_password') }}">Change Password</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('upload_file') }}">Change profile picture</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>I'm <span class="typed" data-typed-items="{{ username }}"></span></h1>
        <p>Designer, Developer, Freelancer, Photographer</p>

        <ul class="list-unstyled list-social">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="\{{ imageURL }}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">im a freelancer designer from Vietnam who loves clean, simple & unique design. i also enjoy crafting brand identities, icons, & ilustration work. </p>
              <p class="separator">Contact me for more designs. I'd love to collaborate with all of you. Peace!</p>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>

      </div>

      <p>&copy; Copyrights Jackson. All rights reserved.</p>

      <div class="credits">
        Designed by <a href="http://localhost:2703/profile#">Jackson Nguyen</a>
      </div>

    </div>
  </div><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={{ url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>
  <script src={{ url_for("static", filename="vendor/glightbox/js/glightbox.min.js") }}></script>
  <script src={{ url_for("static", filename="vendor/isotope-layout/isotope.pkgd.min.js") }}></script>
  <script src={{ url_for("static", filename="vendor/typed.js/typed.min.js") }}></script>
  

  <!-- Template Main JS File -->
  <script src={{ url_for("static", filename="js/main.js") }}></script>

</body>

</html>